.content{
    display: grid;
    grid-template-columns: 20% 80%;

    .category{
        grid-column: 1/1;
        margin-top: 15px;
        .functionality{
            font-size: 14pt;
            font-weight:bolder;
            font-family: var(--font);
            margin-left: 50px;
        }

        a{
            text-decoration: none;
            color: black;
            font-family: var(--font);
            display: block;
            margin-left: 50px;
            margin-top: 10px;
            font-size: 12pt;
        }

        #reload{
            margin: 15px 10px;
            height: auto;
            max-width: 80%;
            text-align: center;
            color: white;
            font-family: var(--font);
            font-size: 14pt;
            padding: 5px;
            background-color: var(--color);
            border: none;  
            border-radius: 15px;
       
        }
        select{
            display: none;
            border-radius: 5px;
            font-size: 14pt;
            float: left;
            background-color: var(--color);
            font-family: var(--font);
            color: white;
            border: transparent;
            padding: 5px;
            &:focus{
               outline: none;
            }
            &:active{
                outline: none;
            }
            option{
                font: var(--font);
                padding: 5px;
            }
        }

    }

    .filter{
        margin-top: 20px;
        margin-left: 25px;
    
        select{
            border-radius: 5px;
            font-size: 14pt;
            float: left;
            background-color: var(--color);
            font-family: var(--font);
            color: white;
            border: transparent;
            padding: 5px;
            &:focus{
               outline: none;
            }
            &:active{
                outline: none;
            }
            option{
                font: var(--font);
                padding: 5px;
            }
        }
    }
    .pagination{
        grid-column: 2/2;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30vw;
        text-align: center;
        margin: auto;
        border-radius: 5px;
        background-color: white;
        opacity: 0.8;
        .fa-arrow-left-long, .fa-arrow-right-long{
            color: var(--color);
            font-size: 18pt;

        }

        a{  

            color: var(--color);
            font-weight: 700;
            font-size: 18pt;
            margin: 0 5px;

        }
    }
}

@media screen and (max-width:870px) {
.content{
    grid-template-columns: 100%;
    .category{
        margin-left: auto;
        margin-right: auto;
        .radio,button,.functionality{
            display: none;
        }
        select{
            display: block;
            text-align: center;
          
        }
    }
    .filter{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
}