.footer{
    position: relative;
    margin-top: 25px;
    bottom: 0;
    background-color: #21201e;
    height: auto;
    padding-bottom: 25px;
    padding-top: 5px;
    width: 100%;
    p{
        color: #f5f4f2;
        text-align: center;
        display: block;
        padding-top:15px;
      
    }
    ul{
        width: 100%;
        text-align: center;
        display: inline-block;
   
        li{
            
            list-style: none;
            display: inline-block;
            margin: 10px;
            padding-top: 15px;
            a{
                text-align: center;
            
                img{
                    background-color: #f5f4f2;
                }
            }
        }
    }
    .footer-menu{
        li{
            a{
                color: white;
                font-family: sans-serif;
            }
        }
    }
}
@media screen and (max-width:700px) {
    .footer{
        height: auto; 
        width: 100vw;
    text-align: center;
        p{
            color: aliceblue;
            text-align: center;
            position: relative;
            top: 25px;
          
        }
        ul{
   
            li{
                display: block;
                text-align: center;
                
            }
        }
        
    }
}