.nav{
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .logo{
        margin-left: 5px;
        a{
            img{
                height: 70px;
            }
        }
    }
    .main-nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 0 25px;
                a{
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 14pt;
                    color: white;

                }
            }
        }
    }
    .users-info-nav{
        display: flex;
        align-items: center; 
        
        
           .dropdown{
            margin-right: 45px;
            i{
                color: white;
            }

            
            .dropdown-items{
              height: 70px;
                display: none;
                position: absolute;
                z-index: 1;
             
            }  
            &:hover .dropdown-items{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                top: 48px;
                background-color: black;
                right: 40px;
               
                a{
                    text-align: left;
                    color: white;
                    text-transform: uppercase;
                    font-size: 14pt;
                   padding: 10px;
                 
                }
            }
        
            }

        .shopping-cart{
            margin-right: 35px;
            a{
                i{
                    color: white;
                }
            }
         
        }
     
    }
    
   
    }
   
  
    @media screen and (max-width:700px) {
        
        .nav{
            width: 100vw;
               #burger{
                    display: block;
                    float: right;
                    padding-right:10px ;
           
                a{
                    img{
                        margin-top: 20px;
                        height: 35px;
                        width: 35px;
                    }
                }
               }
           

            ul{
              display: none;
                li{
                    padding: 10px 5px;   
                   a{
                   font-size: 12pt;
                   }  
               
                }
                .shopping-cart{
               
                      #counter{
                      
                          top: 6.0em;
                          right: 7.2em;
                          width: 20px;
                          height: 20px;
                     
                  
                      }
                     
                     
                  }
            }
            .show{
                margin-top: 70px;
                display: block;
                background-color: var(--color);
                position: absolute;
                width: 100vw;
                height: auto;
              
              
                li{
                    display: block;
                    
                    a{
                        color: aliceblue;
                       
                    }
                }
            }
            .dropdown{
                display: block;
            }
            
           
        }
    }