.placanje-i-isporuka-page,.reklamacije-page,.about-us{
    position: sticky;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    .info{
        margin: 10px;
    .title{
    
        margin-top: 25px;
        font-size: 16pt;
        text-align: left;
        height: fit-content;
        padding: 10px;
        width: 100%;
        background-color: white;
        border-radius: 15px;
        cursor: pointer;
    }
    .title::before{
        content: '\25E2';
        color: var(--color);
        padding: 10px;
    }
    .description{
     
        font-family: var(--font);
        font-size: 14pt;
        text-align: justify;
        letter-spacing: 0.5px;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: all 1s;
      

        a{
           
            color: var(--color);
        }
    }
}
    .active {
        .title::before{
            content: '\25E5';
            color: var(--color);
            padding: 10px;
            
        }
        .description{
            height: auto;
            padding: 10px;         
         
        }
    }
}