@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

:root{
   --font: 'Tiro Bangla', serif;
   --color:#fcc326;
   --color-white:#fafafa;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input{
    &:focus{
        outline: transparent;
    }
}

a{
    text-decoration: none;
}

body{

  font-family: var(--font);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    text-align: center;
    padding-bottom: 35px;
}
.cover-image{
    width: 100%;
    height: 30vw;
    text-align: center;
    background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
    background-size: cover;

    

    .cover-text{
       position: absolute;
       top: 30%;
       left: 30%;
       margin: -25px 0 0 -25px;
      
    
        h1{
            
            color: var(--color);
            font-size: 30pt;
            background-color: white;
            opacity: 0.7;
            border-radius: 10px;
            text-align: center;  
            padding: 15px;
            display: block;
            margin-bottom: 25px;
            
        }
     
        .buy-cover{
            background-color: var(--color);
            padding: 15px;
            color: white;
            border-radius: 5em;
            font-size: 20pt;
            border: 2px solid white;
            text-decoration: none;
    
            &:hover{
                color: var(--color);
                background-color: white;
                opacity: 0.8;
            }
        }
    }   
}


//NAV
.nav{
margin: 0;
 height: 70px;
 background-color: var(--color);

    .logo{
        position: relative;
        float: left;
        padding-top: 5px;
        padding-left:5px ;
        display: inline-block;
       
        img{
            height: 60px;
            width: 60px;
            border: 1px solid white;
        }
    }

    ul{
        list-style: none;

        li{
            position: relative;
            display: inline-block;
            padding: 20px 15px;     
           
            a{
                color: white;
                font-family: var(--font);
                font-size: 14pt;
                text-transform: uppercase;    
            }
        }

        .dropdown{
            float: right;

            .dropdown-items{
                display: none;
                position: absolute;
                z-index: 1;
            }

            &:hover .dropdown-items{
                display: block;
                padding: 10px;
                background-color: #302e26;
                a{
                    color: var(--color);
                }            
            }
        }
    }
}



//FOOTER
.footer{
    bottom: 0;
    display: block;
    background-color: #302e26;
    height: 10vw;
    p{
        color: #fcc326;
        text-align: center;
        position: relative;
        top: 50%;
      
    }
    ul{
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            margin: 10px;
            padding-top: 15px;
            a{
                color: #fcc326;
            }
        }
    }
}
.content{
    display: grid;
    grid-template-columns: 20% 80%;

    .category{
        grid-column: 1/1;
        margin-top: 15px;
        .functionality{
            font-size: 14pt;
            text-align: center;
            font-family: var(--font);
        }


        h3{
            margin-left: 50px;
        }

        .radio{
            margin-top: 10px;
            margin-left: 50px;        
            
            label{
                font-size: 14pt;
                font: var(--font);
            }

            input{
                font-size: 14pt;
               
            }
       
            input[type=radio]:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: var(--color);
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
                
            }

            input[type=radio]:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: black;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid var(--color);
            }
        }

        button{
            margin-top: 15px;
            margin-left: 50px;
            height: auto;
            width: auto;
            padding: 5px;
            background-color: var(--color);
            color: white;
            border: none;
            font-size: 14pt;   
            font-family: var(--font);
            border-radius: 15px;
       
        }
    }

    .filter{
        margin-top: 20px;
        margin-left: 25px;
    
        select{
            border-radius: 5px;
            font-size: 14pt;
            float: left;
            background-color: var(--color);
            font-family: var(--font);
            color: white;
            border: transparent;
            padding: 5px;
            &:focus{
               outline: none;
            }
            &:active{
                outline: none;
            }
            option{
                font: var(--font);
                padding: 5px;
            }
        }
    }
}
.searchbar{
 display: flex;
 justify-content: center;
 
    input{
        margin-top: 25px;
        width: 40%;
        margin-left: 60px;
        height:50%;
        outline: none;
        border-radius:25px;
        border: 5px solid var(--color);
        font-size: 12pt;
        background-image: url("../images/search-30.png");
        background-repeat: no-repeat;
        background-position: 95%;
        padding: 15px;
       
    }
  
  
}

.products{  
        display: grid;
        grid-template-columns: repeat(4,auto);
        column-gap: 15px;
        row-gap: 15px;
    
        .product-cart{
            display: grid;
            grid-template-rows: repeat(4,1fr);
            justify-content: center;  
            height: 350px;
           
            border-radius: 15px;
            padding: 10px;
            
            .title-of-product{
                text-align: center;
                color: var(--color);
                margin-top: 5px;
                font-size: 14pt;
                height: auto;
               
            }
            .image-of-product{
                position: relative;
                p{
                    position: absolute;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    background-color: white;
                }
               .desc{
                   color: white;
                   background-color: #302e26;
                    font-size: 16pt;
                    position: absolute;
                    visibility: hidden;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;   
                    text-align: center;
                    padding: 80px 0;          
              
               }
    
               &:hover{
                   opacity: 0.6;
                .desc{
                    visibility: visible;
                }
               }
    
                img{
                    width: 100%;
                    object-fit: contain;
                           
                }
    
    
                width: 200px;
                height: 200px;
                overflow: hidden;
                margin: auto;
                
            }
            .price{
               height: auto;
                text-align: center;
                #average-price{
                    font-size: 16pt;
                }
            }
          
        }
        
    }
   
//--------------- ABOUT US PAGE
.about-us-story{
   width: 85%;
   margin: auto;
}

//TITLE
.title{
    h2{
        text-align: center;
    }
    h4{
        display: block;
        text-align: center;
    }
}   
    
//PAGE CART------------
.cart-table{
    table{
    margin: auto;
    width: 80%;
      th{
          background-color: var(--color);
          color: white;
          font-size: 14pt;
          font-weight: normal;
          font-family: var(--font);
          height: 45px;
      }
        #cart{
         
            td{
                   input{
                       border: 0px solid transparent;
                       font: var(--font);
                       text-align: center;
                       font-size: 14pt;
                       &:disabled{
                           color: black;
                           background-color: transparent;
                       }
                   }
               }
           }
    }
    
    #truncate-cart{
        margin-top: 10px;
    }
    
}
button{
    height: 50px;
    width: auto;
    padding: 5px;
    background-color: var(--color);
    border: none;
    border-radius: 15px;
    margin-left: 10px;

    a{
        font-size: 14pt;   
        font-family: var(--font);
        color: white;
    }
  }

.total_price{
    float: right;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

    input{
        border: none;
        font-family: var(--font);
        font-size: 14pt;
        font-weight: bold;
        
    }
    p{
        font-size: 14pt;
        font-family: var(--font);
        font-weight: bold;
    }
    
}

//CART PAGE - CUSTOMER INFO FORM
.customer-info{
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    grid-template-columns: 60% 30%;
    column-gap: 20px;
    .form-div{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        row-gap: 2px;
     
        #telefon,#napomena,#email{
            grid-column: 1/-1;
        }
        input,textarea{
            display: block;
            width: auto;
            height: 2em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        button{
            height: 50px;
            width: 150px;
            padding: 5px;
            background-color: var(--color);
            color: white;
            border: none;
            font-size: 14pt;   
            font-family: var(--font);
            border-radius: 15px;
            margin-left: 10px;
            grid-column: 1/-1;
          }
          .nacin-placanja,.kurirska-sluzba{
              width: 80%;
            display: grid;
            grid-template-columns: 50px auto;
           
            span{
                margin: auto;
            }
            input{
                margin: auto;
            }
          }
    }

    .info-for-customer{
        button{
            height: 50px;
            width: 150px;
            padding: 5px;
            background-color: var(--color);
            color: white;
            border: none;
            font-size: 14pt;   
            font-family: var(--font);
            border-radius: 15px;
            margin-left: 10px;
            a{
                color: #f5efd3;
            }
        }
    }
}

//LOGIN PAGE
.login-page{
    width: 40%;
    height: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .form-login{
        display: flex;
        justify-content: center;

        input{
            display: block;
            width: 400px;
            height: 3em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        
       
    }    
}
//REGISTRATION PAGE
.registration-page{
    width: 40%;
    height: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .form-reg{
        display: flex;
        justify-content: center;

        input{
            display: block;
            width: 400px;
            height: 3em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        button{
          
          height: 50px;
          width: auto;
          padding: 5px;
          background-color: var(--color);
          color: white;
          border: none;
          font-size: 14pt;   
          font-family: var(--font);
          border-radius: 15px;
          margin-left: 10px;
        }
       
    }    

}
//MESSAGES
.msg-error{
height: 50px;
font-family: var(--font);
background-color: #e0a394;
color: white;
font-size: 14pt;
}
.msg-success{
    height: 50px;
    font-family: var(--font);
    background-color: #a8e094;
    color: white;
    font-size: 14pt;
    position: absolute;
    top: 5em;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}
.msg-warning{
    height: 50px;
    font-family: var(--font);
    background-color: #e0cc94;
    color: white;
    font-size: 14pt;
    position: relative;
    top: 5em;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}
.msg-info{
    height: 50px;
    font-family: var(--font);
    background-color:  #94c9e0;
    color: white;
    font-size: 14pt;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}

//Customer profile
.container{
    display: flex;
    justify-content: center;

    .customer-profile{
        height: 65%;
        width: 80%;
        background-color: #fcc326;
        margin: 15px;
        display: grid;
        grid-template-columns: 40% 60%;
        
        .left{
            align-items: center;
            margin: 25px;
            display: block;
            img{
                height: 200px;
                width: 200px;
            }
            p{
                font-family: var(--font);
                font-size: 18pt;
                margin-left: 25px;
                color: #f5efd3;
            }  
        }
        .right{
      
          .info-box{
            display: flex;
            justify-content: left;
            .description{
                margin: 10px;
                font-weight: 300;
                font-size: 16pt;
                color: #343634;
              }
              .information{
                margin: 10px;
                font-size: 16pt;
                color: #343634;
              }
          }
        }
    
    }
}
//RELATED PRODUCT
.related-product{
margin-left: 5%;
height: 50%;
width: 100%;
margin-bottom: 20px;
.related-product-text{
    font-size: 16pt;
    font-family: var(--font);
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-cart{
    display: inline-grid;
   
    justify-content: center;  
    height: 350px;
   
    border-radius: 15px;
    padding: 10px;
    
    .title-of-product{
        text-align: center;
        color: var(--color);
        font-size: 16pt;
        height: auto;
       
    }
    .image-of-product{
        position: relative;
        p{
            position: absolute;
            right: 0;
            padding: 0;
            margin: 0;
            background-color: white;
        }
       .desc{
           color: white;
           background-color: #302e26;
            font-size: 16pt;
            position: absolute;
            visibility: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;   
            text-align: center;
            padding: 80px 0;          
      
       }

       &:hover{
           opacity: 0.6;
        .desc{
            visibility: visible;
        }
       }

        img{
            width: 100%;
            object-fit: contain;
                   
        }


        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;
        
    }
    .price{
       height: auto;
        text-align: center;
        #average-price{
            font-size: 16pt;
        }
    }
  
}

}

//--------SINGLE PRODUCT
.product{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap:1em;

    .product-img-tit{
     
        .product-img{     
            display: block;
            margin-left: 10%;
            img{
               width: 100%;
            }
        }
        .path{
            padding: 15px;
            text-align: center;
            font-size: 12pt;
            font-style: italic;
        }
       
   }

   .product-info{
     display: grid;
     grid-auto-rows: minmax(100px,auto);
    margin: 70px;

    .choose-properties{
        display: grid;
        grid-template-rows: auto;

        .product-title{
                position: relative;
                left: 10%;
                font-size: 16pt;
                font-family: var(--font);
                
                input{
                    border: 1px solid transparent;
                    font-size: 16pt;
                    font: var(--font);
                    text-align: center;
                }
            
        }
        .imprint,.size{
           display: flex;
           justify-content: center;
           align-items: center;
            margin-top: 50px;

       
            select{
                background-color: #fcc326;
                color: white;
                outline: none;
                font-size: 16pt;
                padding: 5px;
                text-align: center;
                border-radius: 20px;
                width: 40%;
            }
        }

      .quantity{
        
       margin-left: 10em;
        display: block;
        margin-top: 5em;
          input{
            width: 50px;
            height: 50px;
            left: 25%;
            position: relative;
            background-color: white;
            border: 1px solid var(--color);
            text-align: center;
            font-size: 15pt;
            font-family: var(--font);
          }

      }
      .price{
          display: block;
          margin-top: 25px;
          font-size: 16pt;
          text-align: center;
      }
      button{
        height: 50px;
        width: 150px;
        padding: 5px;
        background-color: var(--color);
        color: white;
        border: none;
        font-size: 14pt;   
        font-family: var(--font);
        border-radius: 15px;
        margin-left: 10px;
        justify-self: center;
      }
    }
   }
  
}
.description{
    font-size: 14pt;
    
    .attribute{
       font-weight: bold;
 
    }
    .attribute_value{
        color: var(--color);
   
    }
    p{
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid black;
       
    }
}
//table whith description
.short-description{
    padding: 30px 30px 10px 30px;
    
    table{
        text-align: center;
       width: 70vw;
        th{
            width: 30%;
            text-align: left;
            background-color: #343634;
            color: #f0f2f5;
            height: 40px;
        }
        td{
            width:70%;
            background-color: var(--color);
            height: 40px;
            padding-left: 15px;
        }
    }
}
//ADMIN PAGE
.admin-menu{
    margin-top: 15px;
}
.admin-page{
    width: 90%;
    margin: auto;
    padding: 0;
    table{
        margin-top: 15px;
        th{
            background-color: #343634;
            color: white;
            height: 40px;
        }
        tr{
            border-bottom: 1px solid black;
   
            td{
                padding: 5px;
                font-size: 14pt;
                font-family: var(--font);
                text-align: center;
                height: fit-content;
                a{
                    text-decoration: none;
                    color: black;
                }
              
                #ImgCookieCutters{
                    width: 80px;
                    height: 80px;
                }
              img{
                height: 16pt;
                width: 16pt;
              }
            }
        }
    }
    
}
//ADD PRODUCT
.add-product{
   width: auto;
    h2{
        text-align: center;
    }
    .form-div{
        margin-top: 15px;
        display: flex;
        justify-content: center;

        input{
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
       .inp-group{
        margin: 10px;
            label{
               font-size: 12pt;
               font-family: var(--font); 
            }   
            select{
                margin-top: 10px;
                border: 0.5px solid var(--color-white);
                font-family: var(--font);
                font-size: 12pt;
                outline: none;
                background-color: var(--color);
                padding: 5px;
                color: var(--color-white);
                border-radius: 15px;
            }
            .sub-inp-group{
                display: inline;
            }
       }
       .inp-group-group{
        border: 1px solid black;
      
        @extend .inp-group;
        display: grid;
        grid-template-columns: repeat(2,50%);
        input{
            width: 80px;
        }
       }
    }
    button{
        height: 50px;
        width: auto;
        padding: 5px;
        background-color: var(--color);
        color: white;
        border: none;
        font-size: 14pt;   
        font-family: var(--font);
        border-radius: 15px;
        margin-left: 10px;
      }

}
.update-product{
    width: auto;

    .form-div{
        margin-top: 15px;
        display: flex;
        justify-content: center;

        input{
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
       .inp-group{
        margin: 10px;
            label{
               font-size: 12pt;
               font-family: var(--font); 
            }   
            select{
                border: 0.5px solid var(--color-white);
                font-family: var(--font);
                font-size: 12pt;
                outline: none;
                background-color: var(--color);
                padding: 5px;
                color: var(--color-white);
                border-radius: 15px;
            }
            .sub-inp-group{
                display: inline;
            }
       }
    }
    button{
        height: 50px;
        width: auto;
        padding: 5px;
        background-color: var(--color);
        color: white;
        border: none;
        font-size: 14pt;   
        font-family: var(--font);
        border-radius: 15px;
        margin-left: 10px;
      }

}


  