@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap");
.nav {
  margin: 0;
  height: 70px;
  width: 100%;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav .logo {
  margin-left: 5px;
}
.nav .logo a img {
  height: 70px;
}
.nav .main-nav ul {
  list-style: none;
}
.nav .main-nav ul li {
  display: inline-block;
  margin: 0 25px;
}
.nav .main-nav ul li a {
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14pt;
  color: white;
}
.nav .users-info-nav {
  display: flex;
  align-items: center;
}
.nav .users-info-nav .dropdown {
  margin-right: 45px;
}
.nav .users-info-nav .dropdown i {
  color: white;
}
.nav .users-info-nav .dropdown .dropdown-items {
  height: 70px;
  display: none;
  position: absolute;
  z-index: 1;
}
.nav .users-info-nav .dropdown:hover .dropdown-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 48px;
  background-color: black;
  right: 40px;
}
.nav .users-info-nav .dropdown:hover .dropdown-items a {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 14pt;
  padding: 10px;
}
.nav .users-info-nav .shopping-cart {
  margin-right: 35px;
}
.nav .users-info-nav .shopping-cart a i {
  color: white;
}

@media screen and (max-width: 700px) {
  .nav {
    width: 100vw;
  }
  .nav #burger {
    display: block;
    float: right;
    padding-right: 10px;
  }
  .nav #burger a img {
    margin-top: 20px;
    height: 35px;
    width: 35px;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    padding: 10px 5px;
  }
  .nav ul li a {
    font-size: 12pt;
  }
  .nav ul .shopping-cart #counter {
    top: 6em;
    right: 7.2em;
    width: 20px;
    height: 20px;
  }
  .nav .show {
    margin-top: 70px;
    display: block;
    background-color: var(--color);
    position: absolute;
    width: 100vw;
    height: auto;
  }
  .nav .show li {
    display: block;
  }
  .nav .show li a {
    color: aliceblue;
  }
  .nav .dropdown {
    display: block;
  }
}
.cover-image {
  width: 100%;
  height: 30vw;
  text-align: center;
  background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
  background-size: cover;
  display: flex;
}
.cover-image .cover-text {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.cover-image .cover-text h1 {
  color: var(--color);
  font-size: 30pt;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  display: block;
  margin-bottom: 25px;
}
.cover-image .cover-text .buy-cover {
  background-color: var(--color);
  padding: 15px;
  color: white;
  border-radius: 5em;
  font-size: 20pt;
  border: 2px solid white;
  text-decoration: none;
  scroll-behavior: smooth;
}
.cover-image .cover-text .buy-cover:hover {
  color: var(--color);
  background-color: white;
  opacity: 0.8;
}

@media screen and (max-width: 870px) {
  .cover-image .cover-text h1 {
    font-size: 20pt;
  }
  .cover-image .cover-text .buy-cover {
    font-size: 14pt;
  }
}
@media screen and (max-width: 700px) {
  .cover-image {
    margin-top: 0px;
  }
  .cover-image .cover-text h1 {
    font-size: 16pt;
    padding: 7px;
  }
  .cover-image .cover-text .buy-cover {
    font-size: 10pt;
  }
}
.footer {
  position: relative;
  margin-top: 25px;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #21201e;
  height: auto;
  padding-bottom: 25px;
  padding-top: 5px;
  width: 100%;
}
.footer p {
  color: #f5f4f2;
  text-align: center;
  display: block;
  padding-top: 15px;
}
.footer ul {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding-top: 15px;
}
.footer ul li a {
  text-align: center;
}
.footer ul li a i {
  color: white;
  font-size: 25pt;
}
.footer .footer-menu li a {
  color: white;
  font-family: sans-serif;
}

@media screen and (max-width: 700px) {
  .footer {
    height: auto;
    width: 100vw;
    text-align: center;
  }
  .footer p {
    color: aliceblue;
    text-align: center;
    position: relative;
    top: 25px;
  }
  .footer ul li {
    display: block;
    text-align: center;
  }
}
.add-product {
  width: auto;
}
.add-product h2 {
  text-align: center;
}
.add-product .form-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.add-product .form-div input {
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
}
.add-product .form-div .inp-group, .add-product .form-div .inp-group-group {
  margin: 10px;
}
.add-product .form-div .inp-group label, .add-product .form-div .inp-group-group label {
  font-size: 12pt;
  font-family: var(--font);
}
.add-product .form-div .inp-group select, .add-product .form-div .inp-group-group select {
  margin-top: 10px;
  border: 0.5px solid var(--color-white);
  font-family: var(--font);
  font-size: 12pt;
  outline: none;
  background-color: var(--color);
  padding: 5px;
  color: var(--color-white);
  border-radius: 15px;
}
.add-product .form-div .inp-group .sub-inp-group, .add-product .form-div .inp-group-group .sub-inp-group {
  display: inline;
}
.add-product .form-div .inp-group-group {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.add-product .form-div .inp-group-group input {
  width: 80px;
}
.add-product button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.admin-page {
  width: 90%;
  margin: auto;
  padding: 0;
}
.admin-page .admin-menu {
  margin-top: 15px;
}
.admin-page table {
  margin-top: 15px;
  width: 90%;
}
.admin-page table th {
  background-color: #343634;
  color: white;
  height: 40px;
}
.admin-page table tr {
  border-bottom: 1px solid black;
}
.admin-page table tr td {
  padding: 5px;
  font-size: 14pt;
  font-family: var(--font);
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.admin-page table tr td a {
  text-decoration: none;
  color: black;
}
.admin-page table tr td #ImgCookieCutters {
  width: 80px;
  height: 80px;
}
.admin-page table tr td img {
  height: 16pt;
  width: 16pt;
}

.cart {
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-flow: dense;
}
.cart .additional-information {
  margin-right: 15px;
}
.cart .additional-information .title {
  margin: 25px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 25pt;
  font-family: var(--font);
  text-align: left;
  margin-left: 50px;
}
.cart .additional-information .delivery, .cart .additional-information .payment {
  margin-top: 65px;
}
.cart .additional-information .delivery .title, .cart .additional-information .payment .title {
  margin: 25px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: var(--font);
  text-align: left;
  margin-left: 50px;
  border-bottom: 1px solid black;
}
.cart .additional-information .delivery label input, .cart .additional-information .payment label input {
  margin-left: 50px;
}
.cart .additional-information .total-price {
  margin-top: 45px;
  font-size: 16pt;
  text-transform: uppercase;
}
.cart .additional-information .customer-info {
  margin-left: 50px;
}
.cart .additional-information .customer-info .title {
  margin: 25px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: var(--font);
  text-align: left;
  border-bottom: 1px solid black;
}
.cart .additional-information .customer-info input, .cart .additional-information .customer-info textarea {
  border: none;
  border-bottom: 1px solid var(--color);
  outline: none;
  padding-left: 7px;
  display: block;
  width: 50%;
  font-size: 14pt;
  margin: 10px 0px 10px 0px;
  font-family: var(--font);
  font-weight: normal;
}
.cart .cart-table .title {
  margin: 25px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 25pt;
  font-family: var(--font);
  text-align: center;
}
.cart .cart-table .small-img {
  height: 30px;
  width: 35px;
  margin-right: 20px;
  margin-top: 5px;
  float: right;
}
.cart .cart-table .total-price {
  display: inline-block;
  font-size: 14pt;
  margin-top: 15px;
  font-family: var(--font);
}
.cart .cart-table button {
  color: white;
  float: right;
  margin-right: 20px;
  height: 45px;
  font-size: 14pt;
}
.cart .cart-table table {
  margin-right: 15px;
}
.cart .cart-table table thead tr th {
  font-weight: normal;
  font-size: 14pt;
  font-family: var(--font);
}
.cart .cart-table table tbody tr td input {
  border: none;
  font-size: 12pt;
  text-align: center;
}
.cart .cart-table table tbody tr td .small-img {
  height: 20px;
  width: 25px;
}
.cart .cart-table table tbody tr td img {
  height: 100px;
  width: 100px;
}
.cart .res {
  display: none;
}

@media screen and (max-width: 700px) {
  input {
    border: none;
    font-size: 12pt;
    text-align: center;
    font-family: var(--font);
  }
  .cart {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
  }
  .cart .cart-table {
    display: none;
  }
  .cart .res {
    display: inline-block;
  }
  .cart .res .title {
    text-align: center;
    font-size: 16pt;
    font-family: var(--font);
  }
  .cart .res .responsive-cart-table {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 20% 50% 10% 30%;
  }
  .cart .res .responsive-cart-table .img {
    margin: auto;
  }
  .cart .res .responsive-cart-table .img img {
    width: 70px;
    height: 70px;
  }
  .cart .res .responsive-cart-table .description {
    margin: auto;
  }
  .cart .res .responsive-cart-table .description #naziv {
    margin-left: 3px;
  }
  .cart .res .responsive-cart-table .description #naziv input {
    font-weight: bold;
    text-align: left;
  }
  .cart .res .responsive-cart-table .description #imprint, .cart .res .responsive-cart-table .description #size, .cart .res .responsive-cart-table .description #price {
    margin-left: 3px;
  }
  .cart .res .responsive-cart-table .description #imprint input, .cart .res .responsive-cart-table .description #size input, .cart .res .responsive-cart-table .description #price input {
    text-align: left;
  }
  .cart .res .responsive-cart-table .quantity {
    margin: auto;
  }
  .cart .res .responsive-cart-table .quantity #quantity input {
    text-align: center;
    width: 50px;
  }
  .cart .res .responsive-cart-table .delete {
    margin: auto;
    padding-right: 10px;
  }
  .cart .res .responsive-cart-table .delete a img {
    width: 20px;
    height: 20px;
  }
  .cart .res #btn-poruci, .cart .res .total-price {
    margin-top: 10px;
    display: inline-block;
  }
  .cart .res #btn-poruci {
    color: white;
    padding: 7px;
    margin-left: 15px;
  }
  .cart .res a {
    float: right;
  }
  .cart .res a img {
    width: 30px;
    height: 30px;
  }
}
.contact-page {
  position: relative;
  top: 70px;
  height: 100vh;
  width: 80%;
  margin: 10px 0;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact-page .title {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 36pt;
  border-bottom: 1px solid black;
  font-weight: 400;
}
.contact-page .contact-form {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.contact-page .contact-form input, .contact-page .contact-form textarea {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 10px;
}
.contact-page .contact-form textarea {
  padding-top: 10px;
  height: 8em;
}
.contact-page .contact-form button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}
.contact-page .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .contact-info .c-info {
  padding-left: 15px;
  font-size: 14pt;
  margin: 15px 0px 15px 0px;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
}
.content .category {
  grid-column: 1/1;
  margin-top: 15px;
  width: 100%;
}
.content .category .functionality {
  font-size: 14pt;
  font-weight: bolder;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content .category .functionality .title {
  text-align: center;
}
.content .category .functionality .category-div {
  display: grid;
  grid-template-columns: 15px, auto;
}
.content .category .functionality .category-div a {
  text-decoration: none;
  color: black;
  font-family: var(--font);
  display: block;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 12pt;
}
.content .category .functionality .category-div a span {
  color: var(--color);
  position: relative;
  left: 0;
}
.content .category .functionality #reload {
  margin: 15px 10px;
  height: auto;
  text-align: center;
  color: white;
  font-family: var(--font);
  font-size: 14pt;
  padding: 5px;
  background-color: var(--color);
  border: none;
  border-radius: 15px;
}
.content .category select {
  display: none;
  border-radius: 5px;
  font-size: 14pt;
  float: left;
  background-color: var(--color);
  font-family: var(--font);
  color: white;
  border: transparent;
  padding: 5px;
}
.content .category select:focus {
  outline: none;
}
.content .category select:active {
  outline: none;
}
.content .category select option {
  font: var(--font);
  padding: 5px;
}
.content .filter {
  margin-top: 20px;
  margin-left: 25px;
}
.content .filter select {
  border-radius: 5px;
  font-size: 14pt;
  float: left;
  background-color: var(--color);
  font-family: var(--font);
  color: white;
  border: transparent;
  padding: 5px;
}
.content .filter select:focus {
  outline: none;
}
.content .filter select:active {
  outline: none;
}
.content .filter select option {
  font: var(--font);
  padding: 5px;
}
.content .pagination {
  grid-column: 2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
}
.content .pagination .fa-arrow-left-long, .content .pagination .fa-arrow-right-long {
  color: var(--color);
  font-size: 18pt;
}
.content .pagination a {
  color: var(--color);
  font-weight: 700;
  font-size: 18pt;
  margin: 0 5px;
}

@media screen and (max-width: 870px) {
  .content {
    grid-template-columns: 100%;
  }
  .content .category {
    margin-left: auto;
    margin-right: auto;
  }
  .content .category .radio, .content .category button, .content .category .functionality {
    display: none;
  }
  .content .category select {
    display: block;
    text-align: center;
  }
  .content .filter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.cover-image {
  width: 100%;
  height: 30vw;
  text-align: center;
  background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
  background-size: cover;
  display: flex;
}
.cover-image .cover-text {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.cover-image .cover-text h1 {
  color: var(--color);
  font-size: 30pt;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  display: block;
  margin-bottom: 25px;
}
.cover-image .cover-text .buy-cover {
  background-color: var(--color);
  padding: 15px;
  color: white;
  border-radius: 5em;
  font-size: 20pt;
  border: 2px solid white;
  text-decoration: none;
  scroll-behavior: smooth;
}
.cover-image .cover-text .buy-cover:hover {
  color: var(--color);
  background-color: white;
  opacity: 0.8;
}

@media screen and (max-width: 870px) {
  .cover-image .cover-text h1 {
    font-size: 20pt;
  }
  .cover-image .cover-text .buy-cover {
    font-size: 14pt;
  }
}
@media screen and (max-width: 700px) {
  .cover-image {
    margin-top: 0px;
  }
  .cover-image .cover-text h1 {
    font-size: 16pt;
    padding: 7px;
  }
  .cover-image .cover-text .buy-cover {
    font-size: 10pt;
  }
}
.container {
  display: flex;
  justify-content: center;
}
.container .customer-profile {
  height: 65%;
  width: 80%;
  background-color: #fcc326;
  margin: 15px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.container .customer-profile .left {
  align-items: center;
  margin: 25px;
  display: block;
}
.container .customer-profile .left img {
  height: 200px;
  width: 200px;
}
.container .customer-profile .left p {
  font-family: var(--font);
  font-size: 18pt;
  margin-left: 25px;
  color: #f5efd3;
}
.container .customer-profile .right .info-box {
  display: flex;
  justify-content: left;
}
.container .customer-profile .right .info-box .description {
  margin: 10px;
  font-weight: 300;
  font-size: 16pt;
  color: #343634;
}
.container .customer-profile .right .info-box .information {
  margin: 10px;
  font-size: 16pt;
  color: #343634;
}

.details-of-order, .separated-order {
  width: 90%;
  margin: auto;
}
.details-of-order .title, .separated-order .title {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18pt;
}
.details-of-order table, .separated-order table {
  width: 100%;
  text-align: center;
}
.details-of-order table th, .separated-order table th {
  font-size: 14pt;
  margin-bottom: 10px;
}
.details-of-order table td, .separated-order table td {
  margin: 5px;
  letter-spacing: 1px;
}
.details-of-order table td img, .separated-order table td img {
  width: 70px;
  height: 70px;
}

.invoice {
  margin: auto;
  width: 60vw;
  height: 80vw;
  background-color: #f2ecdc;
}
.invoice .logo {
  text-align: center;
  height: 100px;
}
.invoice .logo img {
  width: 85px;
  height: 85px;
  float: left;
  margin: 5px;
}
.invoice .logo .title {
  padding-top: 35px;
  font-size: 22pt;
  display: inline-block;
}
.invoice .logo .invoice-no {
  float: right;
  margin: 0;
  font-family: var(--font);
  font-size: 14pt;
  color: white;
  background-color: var(--color);
  padding: 10px;
}
.invoice .line {
  width: 55vw;
  display: block;
  height: 2px;
  background-color: #302e26;
  margin: auto;
}
.invoice .supplier-client-data {
  display: grid;
  grid-template-columns: 50% 50%;
}
.invoice .supplier-client-data .supplier, .invoice .supplier-client-data .client {
  width: 80%;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 12pt;
  font-family: var(--font);
  color: black;
  letter-spacing: 0.5px;
}
.invoice .supplier-client-data .supplier span, .invoice .supplier-client-data .client span {
  font-weight: bold;
}
.invoice .supplier-client-data .supplier .title, .invoice .supplier-client-data .client .title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  font-size: 16pt;
  padding-top: 10px;
  color: #302e26;
  border-bottom: 1px solid black;
}
.invoice .order-details {
  margin: 25px 0px 10px 0px;
  float: right;
  padding-right: 10%;
}
.invoice .order-details span {
  font-weight: bold;
}
.invoice .ordered-items {
  display: block;
}
.invoice .ordered-items table {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.invoice .ordered-items table th {
  height: 25px;
  background-color: var(--color);
  color: white;
  letter-spacing: 1px;
}
.invoice .ordered-items .total_price {
  float: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16pt;
  margin-top: 15px;
  display: block;
}
.invoice .ordered-items .print-button {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.invoice .ordered-items .print-button a {
  color: white;
  font-size: 14pt;
}

@media screen and (max-width: 700px) {
  .invoice {
    margin-left: 0px;
    width: 100vw;
    height: 100vh;
  }
  .invoice .logo img {
    display: none;
  }
  .invoice .logo .title {
    font-size: 14pt;
  }
  .invoice .logo .invoice-no {
    float: none;
  }
  .invoice .line {
    width: 80vw;
  }
}
@-webkit-keyframes movein {
  from {
    right: -200px;
  }
  to {
    right: 10px;
  }
}
@keyframes movein {
  from {
    right: -200px;
  }
  to {
    right: 10px;
  }
}
@-webkit-keyframes moveout {
  from {
    right: 10px;
  }
  to {
    opacity: 0;
  }
}
@keyframes moveout {
  from {
    right: 10px;
  }
  to {
    opacity: 0;
  }
}
.login-page {
  width: 40%;
  height: 100%;
  margin: 10% auto 10% auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.login-page .form-login {
  display: flex;
  justify-content: center;
}
.login-page .form-login input {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 10px;
}
.login-page .form-login a {
  padding-left: 10px;
  margin: 10px 0px 10px 0px;
}
.login-page .form-login button {
  display: block;
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .login-page {
    width: 90%;
  }
  .login-page .form-login input {
    width: 100%;
  }
}
@media print {
  .nav {
    visibility: hidden;
  }
  .invoice {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    background-color: #302e26;
    width: 100%;
    height: 100%;
  }
  .invoice .logo {
    height: auto;
  }
  .invoice .logo img {
    width: 50px;
    height: 50px;
  }
}
#msg-error {
  position: absolute;
  padding: 10px;
  display: block;
  top: 10%;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-error);
  display: grid;
  grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}
#msg-error .msg-error-image {
  float: left;
}
#msg-error .msg-error-text {
  margin: auto;
}

#msg-successful {
  position: absolute;
  display: block;
  top: 10%;
  padding: 10px;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-successful);
  display: grid;
  grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}
#msg-successful .msg-successful-image {
  float: left;
}
#msg-successful .msg-successful-text {
  margin: auto;
}

#msg-warning {
  position: absolute;
  top: 10%;
  display: block;
  padding: 10px;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-warning);
  display: grid;
  grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}
#msg-warning .msg-warning-image {
  float: left;
}
#msg-warning .msg-warning-text {
  margin: auto;
}

#msg-info {
  position: absolute;
  padding: 10px;
  top: 10%;
  display: block;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-info);
  display: grid;
  grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}
#msg-info .msg-info-image {
  float: left;
}
#msg-info .msg-info-text {
  margin: auto;
}

.products, .stencils {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}
.products .product-cart, .stencils .product-cart {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
}
.products .product-cart .title-of-product, .stencils .product-cart .title-of-product {
  text-align: center;
  color: var(--color);
  margin-top: 5px;
  font-size: 14pt;
  height: auto;
}
.products .product-cart .image-of-product, .stencils .product-cart .image-of-product {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}
.products .product-cart .image-of-product p, .stencils .product-cart .image-of-product p {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}
.products .product-cart .image-of-product .desc, .stencils .product-cart .image-of-product .desc {
  color: white;
  background-color: #302e26;
  font-size: 16pt;
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 80px 0;
}
.products .product-cart .image-of-product:hover, .stencils .product-cart .image-of-product:hover {
  opacity: 0.6;
}
.products .product-cart .image-of-product:hover .desc, .stencils .product-cart .image-of-product:hover .desc {
  visibility: visible;
}
.products .product-cart .image-of-product img, .stencils .product-cart .image-of-product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .product-cart .price, .stencils .product-cart .price {
  height: auto;
  text-align: center;
}
.products .product-cart .price #average-price, .stencils .product-cart .price #average-price {
  font-size: 14pt;
  font-family: var(--font);
}
.products .product-cart .button button, .stencils .product-cart .button button {
  border-radius: 0%;
  border: 2px solid #fff;
}
@media screen and (max-width: 1160px) {
  .products {
    grid-template-columns: repeat(3, auto);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
}
@media screen and (max-width: 870px) {
  .products {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
}
@media screen and (max-width: 700px) {
  .products {
    grid-template-columns: repeat(1, auto);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
}
.registration-page {
  position: relative;
  top: 70px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.registration-page form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  padding: 10px;
  max-width: 50vw;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 15px;
}
.registration-page form .input-field {
  width: 90%;
  height: 50px;
  position: relative;
}
.registration-page form .input-field input {
  border: 2px solid black;
  width: 100%;
  height: 70%;
  border-radius: 5px;
  padding: 10px;
}
.registration-page form .input-field .fa-eye {
  position: absolute;
  top: 11px;
  right: 0px;
}
.registration-page form .input-field .fa-eye-slash {
  position: absolute;
  top: 11px;
  right: 0px;
  display: none;
}
.registration-page form .input-field .fa-eye-slash-chck {
  display: none;
}

.related-product {
  margin-left: 5%;
  height: auto;
  width: 90vw;
  margin-bottom: 20px;
}
.related-product .related-product-text {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
}
.related-product .product-cart {
  display: inline-grid;
  justify-content: center;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
}
.related-product .product-cart .title-of-product {
  text-align: center;
  color: var(--color);
  font-size: 16pt;
  height: auto;
}
.related-product .product-cart .image-of-product {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}
.related-product .product-cart .image-of-product .desc {
  color: white;
  background-color: #302e26;
  font-size: 16pt;
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 80px 0;
}
.related-product .product-cart .image-of-product:hover {
  opacity: 0.6;
}
.related-product .product-cart .image-of-product:hover .desc {
  visibility: visible;
}
.related-product .product-cart .image-of-product img {
  width: 200px;
  height: 200px;
}
.related-product .product-cart .price {
  height: auto;
  text-align: center;
}
.related-product .product-cart .price #average-price {
  font-size: 16pt;
}

.searchbar {
  display: flex;
  justify-content: center;
}
.searchbar input {
  margin-top: 25px;
  width: 40%;
  margin-left: 60px;
  height: 50%;
  outline: none;
  border-radius: 25px;
  border: 5px solid var(--color);
  font-size: 12pt;
  background-image: url("../images/search-30.png");
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 15px;
}

@media screen and (max-width: 700px) {
  .searchbar {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .searchbar input {
    margin: auto;
    width: 80%;
  }
}
.product {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 10px;
}
.product .product-img-tit .product-img {
  display: block;
  margin-left: 10%;
}
.product .product-img-tit .product-img img {
  width: 450px;
  height: 450px;
}
.product .product-img-tit .product-img .sub-images {
  display: block;
}
.product .product-img-tit .product-img .sub-images img {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.product .product-img-tit .product-img .sub-images img:hover {
  opacity: 0.6;
}
.product .product-img-tit .path {
  padding: 15px;
  text-align: center;
  font-size: 12pt;
  font-style: italic;
}
.product .choose-properties .product-title {
  margin-top: 25px;
  position: relative;
  left: 10%;
  font-size: 18pt;
  font-family: var(--font-bold);
}
.product .choose-properties .product-title input {
  border: 1px solid transparent;
  font-size: 16pt;
  font: var(--font);
  text-align: center;
}
.product .choose-properties .size-and-imprint {
  margin-top: 25px;
}
.product .choose-properties .size-and-imprint select {
  margin: 15px;
  background-color: #fcc326;
  color: white;
  outline: none;
  font-size: 16pt;
  padding: 5px;
  text-align: center;
  width: 40%;
  height: 10%;
  font-family: var(--font);
}
.product .choose-properties .quantity {
  text-align: center;
  display: block;
  margin-top: 50px;
}
.product .choose-properties .quantity input {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid var(--color);
  text-align: center;
  font-size: 15pt;
  font-family: var(--font);
}
.product .choose-properties .price {
  display: block;
  margin-top: 5%;
  font-size: 16pt;
  text-align: center;
}
.product .choose-properties .buy {
  margin-top: 5%;
  text-align: center;
}
.product .choose-properties .buy button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
}
.product .choose-properties .tags {
  margin-top: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.product .choose-properties .tags .title {
  font-family: var(--font);
  font-size: 14pt;
  text-transform: uppercase;
}
.product .choose-properties .tags .hashtags {
  margin-left: 5px;
  font-family: var(--font);
  font-size: 14pt;
  color: #302e26;
  width: auto;
  height: auto;
}
.product .choose-properties .notice {
  margin-top: 30px;
  border: 3px solid var(--color);
  font-family: var(--font);
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .product {
    grid-template-columns: 90%;
  }
  .product .product-img {
    margin-left: 0%;
  }
  .product .choose-properties .size-and-imprint select {
    width: 100%;
  }
}
.placanje-i-isporuka-page, .reklamacije-page, .about-us {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.placanje-i-isporuka-page .info, .reklamacije-page .info, .about-us .info {
  margin: 10px;
}
.placanje-i-isporuka-page .info .title, .reklamacije-page .info .title, .about-us .info .title {
  margin-top: 25px;
  font-size: 16pt;
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.placanje-i-isporuka-page .info .title::before, .reklamacije-page .info .title::before, .about-us .info .title::before {
  content: "◢";
  color: var(--color);
  padding: 10px;
}
.placanje-i-isporuka-page .info .description, .reklamacije-page .info .description, .about-us .info .description {
  font-family: var(--font);
  font-size: 14pt;
  text-align: justify;
  letter-spacing: 0.5px;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}
.placanje-i-isporuka-page .info .description a, .reklamacije-page .info .description a, .about-us .info .description a {
  color: var(--color);
}
.placanje-i-isporuka-page .active .title::before, .reklamacije-page .active .title::before, .about-us .active .title::before {
  content: "◥";
  color: var(--color);
  padding: 10px;
}
.placanje-i-isporuka-page .active .description, .reklamacije-page .active .description, .about-us .active .description {
  height: auto;
  padding: 10px;
}

.short-description {
  padding: 30px 0px 10px 0px;
  margin: auto;
  width: 90vw;
}
.short-description .title {
  margin-top: 25px;
  font-family: var(--font-bold);
  font-size: 16pt;
  text-align: left;
}
.short-description .description {
  font-family: var(--font);
  font-size: 14pt;
  text-align: justify;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}
.short-description .description a {
  color: wheat;
}
.short-description table {
  text-align: center;
  width: 80vw;
}
.short-description table th {
  width: 30%;
  text-align: left;
  background-color: #343634;
  color: #f0f2f5;
  height: 40px;
  padding-left: 15px;
  font-weight: lighter;
  font-size: 14pt;
}
.short-description table td {
  width: 70%;
  background-color: #fafafa;
  height: 40px;
  padding-left: 15px;
  font-size: 14pt;
}

.update-product {
  width: 90vw;
  margin: auto;
}
.update-product .form-div {
  margin-top: 15px;
}
.update-product .form-div input {
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  width: 20vw;
  height: 30px;
  padding-left: 15px;
}
.update-product .form-div .inp-group, .update-product .add-product .form-div .inp-group-group, .add-product .update-product .form-div .inp-group-group {
  margin: 10px;
}
.update-product .form-div .inp-group label, .update-product .add-product .form-div .inp-group-group label, .add-product .update-product .form-div .inp-group-group label {
  font-size: 12pt;
  font-family: var(--font);
}
.update-product .form-div .inp-group select, .update-product .add-product .form-div .inp-group-group select, .add-product .update-product .form-div .inp-group-group select {
  border: 0.5px solid var(--color-white);
  font-family: var(--font);
  font-size: 12pt;
  outline: none;
  background-color: var(--color);
  padding: 5px;
  color: var(--color-white);
  border-radius: 15px;
  width: 20vw;
  height: 30px;
  padding-left: 15px;
}
.update-product .form-div .inp-group .sub-inp-group, .update-product .add-product .form-div .inp-group-group .sub-inp-group, .add-product .update-product .form-div .inp-group-group .sub-inp-group {
  display: inline;
}
.update-product button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.add-category .admin-menu, .update-category .admin-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.add-category .form-div, .update-category .form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
.add-category .form-div .input-field, .update-category .form-div .input-field {
  width: 50vw;
  margin: 15px;
}
.add-category .form-div .input-field input, .add-category .form-div .input-field textarea, .update-category .form-div .input-field input, .update-category .form-div .input-field textarea {
  width: 50%;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
}
.add-category .form-div .input-field label, .update-category .form-div .input-field label {
  font-size: 16pt;
}
.add-category .form-div button, .update-category .form-div button {
  margin: 10px;
  width: auto;
  height: 50px;
}
.add-category .form-div button input, .update-category .form-div button input {
  padding: 5px;
  font-size: 16pt;
  color: white;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: var(--color);
}

:root {
  --font: "Roboto Serif", serif;
  --color:#fcc326;
  --color-white:#fafafa;
  --color-info:#94c9e0;
  --color-warning:#e0cc94;
  --color-error:#e0a394;
  --color-successful:#a8e094;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: transparent;
}

#ime, #prezime, #mesto {
  text-transform: capitalize;
}

#error_ime,
#error_prezime,
#error_email,
#error_mesto,
#error_ulica,
#error_broj,
#error_telefon,
#error_lozinka,
#error_lozinka_check,
#error_username {
  position: relative;
  float: left;
  margin-left: 10px;
  display: block;
  color: var(--color-error);
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font);
  background-color: #ededed;
}

h1 {
  text-align: center;
  padding-bottom: 35px;
}

.title h2 {
  text-align: center;
}
.title h4 {
  display: block;
  text-align: center;
}

button {
  height: auto;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}
button a {
  font-size: 14pt;
  font-family: var(--font);
  color: white;
}

.description {
  font-size: 14pt;
}
.description .attribute {
  font-weight: bold;
}
.description .attribute_value {
  color: var(--color);
}
.description p {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid black;
}/*# sourceMappingURL=style.css.map */