@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
:root {
  --font: 'Tiro Bangla', serif;
  --color:#fcc326;
}

input:focus {
  outline: transparent;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-bottom: 35px;
}

.nav {
  margin-top: 2px;
  height: 80px;
  background-color: var(--color);
}

.nav .logo {
  float: left;
}

.nav .logo img {
  border: 2px solid white;
  width: 60px;
  height: 60px;
}

.nav .logo a {
  margin: 0;
  padding: 0;
}

.nav .nav-primary, .nav .nav-secondary {
  height: 2em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-primary ul, .nav .nav-secondary ul {
  list-style-type: none;
}

.nav .nav-primary ul p, .nav .nav-secondary ul p {
  display: inline-block;
  color: white;
  margin: 15px;
}

.nav .nav-primary li, .nav .nav-secondary li {
  display: inline;
}

.nav .nav-primary a, .nav .nav-secondary a {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  height: 40px;
}

.nav .nav-primary a:hover, .nav .nav-secondary a:hover {
  color: var(--color);
  padding: 5px;
  background-color: white;
}

.nav .nav-secondary {
  float: right;
}

.nav .nav-primary {
  float: left;
}

.cover-image {
  height: 500px;
  text-align: center;
  overflow: hidden;
  background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-image img {
  width: 65em;
  opacity: 0.8;
}

.cover-image .cover-text h1 {
  color: var(--color);
  font-size: 30pt;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  text-align: center;
  padding-top: 5%;
}

.cover-image .cover-text .buy-cover {
  position: relative;
  background-color: var(--color);
  padding: 10px;
  color: white;
  border-radius: 5em;
  font-size: 20pt;
  border: 2px solid white;
  text-decoration: none;
}

.cover-image .cover-text .buy-cover:hover {
  color: var(--color);
  background-color: white;
  opacity: 0.8;
}

.footer {
  bottom: 0;
  display: block;
  background-color: #302e26;
  height: auto;
}

.footer p {
  color: #fcc326;
  text-align: center;
  position: relative;
  top: 50%;
}

.footer ul {
  display: inline-block;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.footer ul li a {
  color: #fcc326;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.content .category {
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.content .category h3 {
  margin-left: 50px;
}

.content .category .radio {
  margin-top: 10px;
  margin-left: 50px;
}

.content .category .radio label {
  font-size: 14pt;
  font: var(--font);
}

.content .category .radio input {
  font-size: 14pt;
}

.content .category .radio input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--color);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.content .category .radio input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color);
}

.content .category button {
  margin-top: 15px;
  margin-left: 50px;
}

.content .filter {
  margin-left: 25px;
}

.content .filter h3 {
  margin-left: 25px;
}

.content .filter select {
  font-size: 14pt;
  float: left;
  background-color: var(--color);
  font-family: var(--font);
  color: white;
}

.content .filter select:focus {
  outline: none;
}

.content .filter select:active {
  outline: none;
}

.content .filter select option {
  font: var(--font);
  padding: 5px;
}

.searchbar input {
  margin-top: 25px;
  margin-left: 60px;
  height: 30px;
  outline: none;
  border-radius: 20px;
  border: 0.5px solid var(--color);
  font-size: 12pt;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
}

.products .product-cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
}

.products .product-cart .title-of-product {
  text-align: center;
  color: var(--color);
}

.products .product-cart .image-of-product {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.products .product-cart .image-of-product p {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}

.products .product-cart .image-of-product .desc {
  color: white;
  background-color: #302e26;
  font-size: 16pt;
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 80px 0;
}

.products .product-cart .image-of-product:hover {
  opacity: 0.6;
}

.products .product-cart .image-of-product:hover .desc {
  visibility: visible;
}

.products .product-cart .image-of-product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.products .product-cart .price {
  text-align: center;
}

.products .product-cart .price #average-price {
  font-size: 16pt;
}

.about-us-story {
  width: 85%;
  margin: auto;
}

.cart-table {
  max-width: 80%;
  margin: auto;
}

.cart-table table th {
  background-color: var(--color);
  color: white;
  font-size: 14pt;
  font-weight: normal;
  font-family: var(--font);
  height: 45px;
}

.cart-table table #cart td input {
  border: 0px solid transparent;
  font: var(--font);
  text-align: center;
  font-size: 14pt;
}

.cart-table table #cart td input:disabled {
  color: black;
  background-color: transparent;
}

.cart-table #truncate-cart {
  margin-top: 10px;
}

.total_price {
  float: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  text-align: center;
}

.total_price input {
  border: none;
  font-family: var(--font);
  font-size: 14pt;
  font-weight: bold;
}

.total_price p {
  font-size: 14pt;
  font-family: var(--font);
  font-weight: bold;
}

.login-page {
  width: 40%;
  height: 70%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login-page .form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .form-login input {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
}

.login-page .form-login button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.registration-page {
  width: 40%;
  height: 70%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.registration-page .form-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration-page .form-reg input {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
}

.registration-page .form-reg button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.customer-info {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 30%;
      grid-template-columns: 60% 30%;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.customer-info .form-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  row-gap: 2px;
}

.customer-info .form-div #telefon, .customer-info .form-div #napomena, .customer-info .form-div #email {
  grid-column: 1/-1;
}

.customer-info .form-div input, .customer-info .form-div textarea {
  display: block;
  width: auto;
  height: 2em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
}

.customer-info .form-div button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
  grid-column: 1/-1;
}

.customer-info .form-div .nacin-placanja, .customer-info .form-div .kurirska-sluzba {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
}

.customer-info .form-div .nacin-placanja span, .customer-info .form-div .kurirska-sluzba span {
  margin: auto;
}

.customer-info .form-div .nacin-placanja input, .customer-info .form-div .kurirska-sluzba input {
  margin: auto;
}

.customer-info .info-for-customer button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.customer-info .info-for-customer button a {
  color: #f5efd3;
}

table {
  width: 100%;
  height: auto;
  margin: auto;
}

table th {
  border-bottom: 5px solid black;
}

table img {
  height: 150px;
  width: 150px;
}

table tr {
  text-align: center;
}

table td {
  text-align: center;
  border-bottom: 1px solid var(--color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.msg-error {
  height: 50px;
  font-family: var(--font);
  background-color: #e0a394;
  color: white;
  font-size: 14pt;
}

.msg-success {
  height: 50px;
  font-family: var(--font);
  background-color: #a8e094;
  color: white;
  font-size: 14pt;
  position: absolute;
  top: 5em;
  right: 0;
  width: auto;
  height: auto;
  text-align: center;
  padding: 15px;
}

.msg-warning {
  height: 50px;
  font-family: var(--font);
  background-color: #e0cc94;
  color: white;
  font-size: 14pt;
  position: relative;
  top: 5em;
  right: 0;
  width: auto;
  height: auto;
  text-align: center;
  padding: 15px;
}

.msg-info {
  height: 50px;
  font-family: var(--font);
  background-color: #94c9e0;
  color: white;
  font-size: 14pt;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  text-align: center;
  padding: 15px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .customer-profile {
  height: 65%;
  width: 80%;
  background-color: #fcc326;
  margin: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.container .customer-profile .left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  display: block;
}

.container .customer-profile .left img {
  height: 200px;
  width: 200px;
}

.container .customer-profile .left p {
  font-family: var(--font);
  font-size: 18pt;
  margin-left: 25px;
  color: #f5efd3;
}

.container .customer-profile .right .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container .customer-profile .right .info-box .description {
  margin: 10px;
  font-weight: 300;
  font-size: 16pt;
  color: #343634;
}

.container .customer-profile .right .info-box .information {
  margin: 10px;
  font-size: 16pt;
  color: #343634;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-column-gap: 1em;
}

.product .product-img-tit .product-img {
  display: block;
  margin-left: 10%;
}

.product .product-img-tit .product-img img {
  width: 100%;
}

.product .product-img-tit .path {
  text-align: center;
  font-size: 12pt;
  font-style: italic;
}

.product .product-info {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  margin: 70px;
}

.product .product-info .short-description {
  margin-top: 50px;
  padding: 5px;
}

.product .product-info .choose-properties {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.product .product-info .choose-properties .product-title h2 {
  position: relative;
  left: 30%;
}

.product .product-info .choose-properties .product-title h2 input {
  border: 1px solid transparent;
  font-size: 16pt;
  font: var(--font);
  text-align: center;
}

.product .product-info .choose-properties .imprint, .product .product-info .choose-properties .size {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 50px;
}

.product .product-info .choose-properties .imprint p, .product .product-info .choose-properties .size p {
  text-align: center;
}

.product .product-info .choose-properties .imprint select, .product .product-info .choose-properties .size select {
  background-color: #fcc326;
  color: white;
  outline: none;
  font-size: 16pt;
  padding: 5px;
  text-align: center;
}

.product .product-info .choose-properties .quantity {
  margin-left: 10em;
  display: block;
  margin-top: 5em;
}

.product .product-info .choose-properties .quantity input {
  width: 50px;
  height: 50px;
  left: 25%;
  position: relative;
  background-color: white;
  border: 1px solid var(--color);
  text-align: center;
  font-size: 15pt;
  font-family: var(--font);
}

.product .product-info .choose-properties .price {
  display: block;
  margin-top: 25px;
  font-size: 16pt;
  text-align: center;
}

.product .product-info .choose-properties button {
  display: block;
  margin: auto;
}

.description {
  font-size: 14pt;
}

.description .attribute {
  font-weight: bold;
}

.description .attribute_value {
  color: var(--color);
}

.description p {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.add-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
}

.add-product h2 {
  text-align: center;
}

.add-product form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.side-bar {
  margin-top: 30px;
  display: inline-block;
  position: absolute;
}

.side-bar a {
  display: block;
  height: 35px;
  background-color: var(--color);
  width: auto;
  color: white;
  margin-bottom: 5px;
  font-size: 14pt;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: block;
    float: left;
  }
  .nav .nav-primary {
    display: block;
    height: auto;
    background-color: var(--color);
  }
  .nav .nav-primary ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
  }
  .nav .nav-secondary {
    display: block;
  }
  .nav .nav-secondary ul {
    display: block;
    position: absolute;
    left: 0;
    top: 65;
  }
}
/*# sourceMappingURL=style.css.map */