@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

:root{
   --font: 'Tiro Bangla', serif;
   --color:#fcc326;
}
input{
    &:focus{
        outline: transparent;
    }
}
a{
    text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    text-align: center;
    padding-bottom: 35px;
}
.nav{
    margin-top: 2px;
    height: 80px;
    background-color: var(--color);

    .logo{
        float: left;
        img{
            border: 2px solid white;
            width: 60px;
            height: 60px;
        }

        a{
            margin: 0;
            padding: 0;
        }
    }

   
    .nav-primary,.nav-secondary{
        height: 2em;
        margin-top: 1em;
        display: flex;
        ul{
            list-style-type: none; 
            p{
                display: inline-block;
                color: white;
                margin: 15px;
            }
        }
    
        li{
            display: inline;
            
        }
    
        a{
            margin-right: 15px;
            text-transform: uppercase;
            color: white;
            height: 40px;
    
            &:hover{
                color: var(--color);
                padding: 5px;
                background-color: white;
            }
        }
    
    }
    .nav-secondary{
        float: right;
        
    }
    .nav-primary{
        float: left;
    }

}
.cover-image{
   
    height: 500px;
    text-align: center;
    overflow: hidden;
    background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

      
     img{
        width: 65em;
        opacity: 0.8;
    }
    .cover-text{
       

        h1{
            color: var(--color);
            font-size: 30pt;
            background-color: white;
            opacity: 0.7;
            border-radius: 10px;
            text-align: center;  
            padding-top: 5%
        }
     
        .buy-cover{
            position: relative;
            background-color: var(--color);
            padding: 10px;
            color: white;
            border-radius: 5em;
            font-size: 20pt;
            border: 2px solid white;
            text-decoration: none;
    
            &:hover{
                color: var(--color);
                background-color: white;
                opacity: 0.8;
            }
        }
    }   
}


.footer{
    bottom: 0;
    display: block;
    background-color: #302e26;
    height: auto;
    p{
        color: #fcc326;
        text-align: center;
        position: relative;
        top: 50%;
      
    }
    ul{
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            margin: 10px;
            a{
                color: #fcc326;
            }
        }
    }
}
.content{
    display: grid;
    grid-template-columns: 20% 80%;

    .category{
        grid-column: 1/1;


        h3{
            margin-left: 50px;
        }

        .radio{
            margin-top: 10px;
            margin-left: 50px;        
            
            label{
                font-size: 14pt;
                font: var(--font);
            }

            input{
                font-size: 14pt;
            }
       
            input[type=radio]:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: var(--color);
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }

            input[type=radio]:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: black;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid var(--color);
            }
        }

        button{
            margin-top: 15px;
            margin-left: 50px;
        }
    }

    .filter{
        margin-left: 25px;
        h3{
            margin-left: 25px;
        }
        select{
            font-size: 14pt;
            float: left;
            background-color: var(--color);
            font-family: var(--font);
            color: white;
            &:focus{
               outline: none;
            }
            &:active{
                outline: none;
            }
            option{
                font: var(--font);
                padding: 5px;
            }
        }
    }
}
.searchbar{
    
    input{
        margin-top: 25px;
        margin-left: 60px;
        height: 30px;
        outline: none;
        border-radius: 20px;
        border: 0.5px solid var(--color);
        font-size: 12pt;
    }
  
}

.products{  
        display: grid;
        grid-template-columns: repeat(5,auto);
        .product-cart{
            display: grid;
            grid-template-rows: repeat(4,1fr);
            justify-content: center;  
            height: 350px;
            
            
            .title-of-product{
                text-align: center;
                color: var(--color);
               
            }
            .image-of-product{
                position: relative;
                p{
                    position: absolute;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    background-color: white;
                }
               .desc{
                   color: white;
                   background-color: #302e26;
                    font-size: 16pt;
                    position: absolute;
                    visibility: hidden;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;   
                    text-align: center;
                    padding: 80px 0;          
              
               }
    
               &:hover{
                   opacity: 0.6;
                .desc{
                    visibility: visible;
                }
               }
    
                img{
                    width: 100%;
                    object-fit: contain;
                    
                   
                 
                }
    
    
                width: 200px;
                height: 200px;
                overflow: hidden;
                margin: auto;
                
            }
            .price{
               
                text-align: center;
                #average-price{
                    font-size: 16pt;
                }
            }
          
        }
        
    }
   
//--------------- ABOUT US PAGE
.about-us-story{
   width: 85%;
   margin: auto;
}
    
    
//PAGE CART------------
.cart-table{
    max-width: 80%;
    margin: auto;
    table{
       
      th{
          background-color: var(--color);
          color: white;
          font-size: 14pt;
          font-weight: normal;
          font-family: var(--font);
          height: 45px;
      }
        #cart{
         
            td{
                   input{
                       border: 0px solid transparent;
                       font: var(--font);
                       text-align: center;
                       font-size: 14pt;
                       &:disabled{
                           color: black;
                           background-color: transparent;
                       }
                   }
               }
           }
    }
    
    #truncate-cart{
        margin-top: 10px;
    }
    
}

.total_price{
    float: right;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

    input{
        border: none;
        font-family: var(--font);
        font-size: 14pt;
        font-weight: bold;
        
    }
    p{
        font-size: 14pt;
        font-family: var(--font);
        font-weight: bold;
    }
}

//LOGIN PAGE
.login-page{
    width: 40%;
    height: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .form-login{
        display: flex;
        justify-content: center;

        input{
            display: block;
            width: 400px;
            height: 3em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        button{
          height: 50px;
          width: 150px;
          padding: 5px;
          background-color: var(--color);
          color: white;
          border: none;
          font-size: 14pt;   
          font-family: var(--font);
          border-radius: 15px;
          margin-left: 10px;
        }
       
    }    
}
//REGISTRATION PAGE
.registration-page{
    width: 40%;
    height: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .form-reg{
        display: flex;
        justify-content: center;

        input{
            display: block;
            width: 400px;
            height: 3em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        button{
          
          height: 50px;
          width: auto;
          padding: 5px;
          background-color: var(--color);
          color: white;
          border: none;
          font-size: 14pt;   
          font-family: var(--font);
          border-radius: 15px;
          margin-left: 10px;
        }
       
    }    

}
//CART PAGE - CUSTOMER INFO FORM
.customer-info{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    grid-template-columns: 60% 30%;
    column-gap: 20px;
    .form-div{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        row-gap: 2px;
     
        #telefon,#napomena,#email{
            grid-column: 1/-1;
        }
        input,textarea{
            display: block;
            width: auto;
            height: 2em;
            margin: 10px;
            outline: none;
            border-radius: 15px;
            border: 0.5px solid var(--color);
            font-family: var(--font);
            font-size: 12pt;
        }
        button{
            height: 50px;
            width: 150px;
            padding: 5px;
            background-color: var(--color);
            color: white;
            border: none;
            font-size: 14pt;   
            font-family: var(--font);
            border-radius: 15px;
            margin-left: 10px;
            grid-column: 1/-1;
          }
          .nacin-placanja,.kurirska-sluzba{
              width: 80%;
            display: grid;
            grid-template-columns: 50px auto;
           
            span{
                margin: auto;
            }
            input{
                margin: auto;
            }
          }
    }

    .info-for-customer{
        button{
            height: 50px;
            width: 150px;
            padding: 5px;
            background-color: var(--color);
            color: white;
            border: none;
            font-size: 14pt;   
            font-family: var(--font);
            border-radius: 15px;
            margin-left: 10px;
            a{
                color: #f5efd3;
            }
        }
    }
}

table{
    width: 100%;
    height: auto;
    margin: auto;
    th{
        border-bottom: 5px solid black;
    }
    img{
        height: 150px;
        width: 150px;
    }
    tr{
        text-align: center;
    }
    td{
        text-align: center;
        border-bottom: 1px solid var(--color);
        padding-top: 15px;
        padding-bottom: 15px;
      
    }
}

.msg-error{
height: 50px;
font-family: var(--font);
background-color: #e0a394;
color: white;
font-size: 14pt;
}
.msg-success{
    height: 50px;
    font-family: var(--font);
    background-color: #a8e094;
    color: white;
    font-size: 14pt;
    position: absolute;
    top: 5em;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}
.msg-warning{
    height: 50px;
    font-family: var(--font);
    background-color: #e0cc94;
    color: white;
    font-size: 14pt;
    position: relative;
    top: 5em;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}
.msg-info{
    height: 50px;
    font-family: var(--font);
    background-color:  #94c9e0;
    color: white;
    font-size: 14pt;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
}
//Customer profile
.container{
    display: flex;
    justify-content: center;

    .customer-profile{
        height: 65%;
        width: 80%;
        background-color: #fcc326;
        margin: 15px;
        display: grid;
        grid-template-columns: 40% 60%;
        
        .left{
            align-items: center;
            margin: 25px;
            display: block;
            img{
                height: 200px;
                width: 200px;
              
            }
            p{
                font-family: var(--font);
                font-size: 18pt;
                margin-left: 25px;
                color: #f5efd3;
          
            }
       
            
        }
        .right{
      
          .info-box{
            display: flex;
            justify-content: left;
            .description{
                margin: 10px;
                font-weight: 300;
                font-size: 16pt;
                color: #343634;
              }
              .information{
                margin: 10px;
                font-size: 16pt;
                color: #343634;
              }
          }
   

        }
    
    }
}

//--------SINGLE PRODUCT
.product{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap:1em;

    .product-img-tit{
     
        .product-img{     
            display: block;
            margin-left: 10%;
            img{
               width: 100%;
            }
        }
        .path{
            text-align: center;
            font-size: 12pt;
            font-style: italic;
        }
       
   }

   .product-info{
     display: grid;
     grid-auto-rows: minmax(100px,auto);
    margin: 70px;

    .short-description{
    margin-top: 50px;
    padding: 5px;
    }

    .choose-properties{
        display: grid;
        grid-template-rows: auto;

        .product-title{
            h2{
                position: relative;
                left: 30%;
                
                input{
                    border: 1px solid transparent;
                    font-size: 16pt;
                    font: var(--font);
                    text-align: center;
                }
            }
        }
        .imprint,.size{
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 50px;
            p{
                text-align: center;
            }
            select{
                background-color: #fcc326;
                color: white;
                outline: none;
                font-size: 16pt;
                padding: 5px;
                text-align: center;
            }
        }

      .quantity{
       margin-left: 10em;
        display: block;
        margin-top: 5em;
          input{
            width: 50px;
            height: 50px;
            left: 25%;
            position: relative;
            background-color: white;
            border: 1px solid var(--color);
            text-align: center;
            font-size: 15pt;
            font-family: var(--font);
          }

      }
      .price{
          display: block;
          margin-top: 25px;
          font-size: 16pt;
          text-align: center;
      }
      button{
      display: block;
      margin: auto;
      }
    }
   }
  
}
.description{
    font-size: 14pt;
    
    .attribute{
       font-weight: bold;
 
    }
    .attribute_value{
        color: var(--color);
   
    }
    p{
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid black;
       
    }
}
.add-product{
    display: grid;
    grid-template-columns:2fr;
    h2{
        text-align: center;
    }
    form{
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
}
.side-bar{
    margin-top: 30px;
    display: inline-block;
    position: absolute;
   a{
       display: block;
       height: 35px;
       background-color: var(--color);
       width: auto;
       color: white;
       margin-bottom: 5px;
       font-size: 14pt;
    
   }
}

@media only screen and (max-width: 800px) {
.nav{
  display: block;
  float: left;
    .nav-primary{
        display: block;
        height: auto;
        background-color: var(--color);
       ul{
        display: grid;
        grid-template-rows: repeat(1,auto);
       }
    }
    .nav-secondary{
        display: block;
       ul{
           display: block;
           position: absolute;
           left: 0;
           top: 65;
       }
    }
}

}
  