@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
:root {
  --font: 'Tiro Bangla', serif;
  --color:#fcc326;
  --color-white:#fafafa;
  --font-bold: 'Righteous', cursive;
  --color-info:#94c9e0;
  --color-warning:#e0cc94;
  --color-error:#e0a394;
  --color-successful:#a8e094;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: transparent;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-bottom: 35px;
}

.cover-image {
  width: 100%;
  height: 30vw;
  text-align: center;
  background-image: url("../images/pexels-ekaterina-bolovtsova-5702702.jpg");
  background-size: cover;
}

.cover-image .cover-text {
  position: absolute;
  top: 30%;
  left: 30%;
  margin: -25px 0 0 -25px;
}

.cover-image .cover-text h1 {
  color: var(--color);
  font-size: 30pt;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  display: block;
  margin-bottom: 25px;
}

.cover-image .cover-text .buy-cover {
  background-color: var(--color);
  padding: 15px;
  color: white;
  border-radius: 5em;
  font-size: 20pt;
  border: 2px solid white;
  text-decoration: none;
}

.cover-image .cover-text .buy-cover:hover {
  color: var(--color);
  background-color: white;
  opacity: 0.8;
}

.nav {
  margin: 0;
  height: 70px;
  background-color: var(--color);
}

.nav .logo {
  position: relative;
  float: left;
  padding-top: 5px;
  padding-left: 5px;
  display: inline-block;
}

.nav .logo img {
  height: 60px;
  width: 60px;
  border: 1px solid white;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  display: inline-block;
  padding: 20px 15px;
}

.nav ul li a {
  color: white;
  font-family: var(--font);
  font-size: 14pt;
  text-transform: uppercase;
}

.nav ul .dropdown {
  float: right;
}

.nav ul .dropdown .dropdown-items {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav ul .dropdown:hover .dropdown-items {
  display: block;
  padding: 10px;
  background-color: #302e26;
}

.nav ul .dropdown:hover .dropdown-items a {
  color: var(--color);
}

.footer {
  position: relative;
  margin-top: 25px;
  bottom: 0;
  background-color: #302e26;
  height: 10vw;
  width: 100%;
}

.footer p {
  color: #fcc326;
  text-align: center;
  position: relative;
  top: 50%;
}

.footer ul {
  display: inline-block;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding-top: 15px;
}

.footer ul li a {
  color: #fcc326;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.content .category {
  -ms-grid-column: 1;
  grid-column: 1/1;
  margin-top: 15px;
}

.content .category .functionality {
  font-size: 14pt;
  text-align: center;
  font-family: var(--font);
}

.content .category h3 {
  margin-left: 50px;
}

.content .category .radio {
  margin-top: 10px;
  margin-left: 50px;
}

.content .category .radio label {
  font-size: 14pt;
  font: var(--font);
}

.content .category .radio input {
  font-size: 14pt;
}

.content .category .radio input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--color);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.content .category .radio input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--color);
}

.content .category button {
  margin-top: 15px;
  margin-left: 50px;
  height: auto;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
}

.content .filter {
  margin-top: 20px;
  margin-left: 25px;
}

.content .filter select {
  border-radius: 5px;
  font-size: 14pt;
  float: left;
  background-color: var(--color);
  font-family: var(--font);
  color: white;
  border: transparent;
  padding: 5px;
}

.content .filter select:focus {
  outline: none;
}

.content .filter select:active {
  outline: none;
}

.content .filter select option {
  font: var(--font);
  padding: 5px;
}

.content .pagination {
  width: 80vw;
  text-align: center;
  margin: auto;
}

.content .pagination button {
  width: 40px;
  height: 40px;
}

.content .pagination a {
  width: 60px;
  height: 60px;
  color: white;
  background-color: var(--color);
  margin: 5px;
  font-size: 14pt;
  padding: 5px;
  border-radius: 5px;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar input {
  margin-top: 25px;
  width: 40%;
  margin-left: 60px;
  height: 50%;
  outline: none;
  border-radius: 25px;
  border: 5px solid var(--color);
  font-size: 12pt;
  background-image: url("../images/search-30.png");
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 15px;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

.products .product-cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
}

.products .product-cart .title-of-product {
  text-align: center;
  color: var(--color);
  margin-top: 5px;
  font-size: 14pt;
  height: auto;
}

.products .product-cart .image-of-product {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.products .product-cart .image-of-product p {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}

.products .product-cart .image-of-product .desc {
  color: white;
  background-color: #302e26;
  font-size: 16pt;
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 80px 0;
}

.products .product-cart .image-of-product:hover {
  opacity: 0.6;
}

.products .product-cart .image-of-product:hover .desc {
  visibility: visible;
}

.products .product-cart .image-of-product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.products .product-cart .price {
  height: auto;
  text-align: center;
}

.products .product-cart .price #average-price {
  font-size: 16pt;
}

.title h2 {
  text-align: center;
}

.title h4 {
  display: block;
  text-align: center;
}

.cart {
  width: 100%;
  margin: auto;
}

.cart .cart-table .title {
  margin: 25px 0px 25px 0px;
  text-align: center;
  font-size: 18pt;
  font-family: var(--font-bold);
}

.cart .cart-table table {
  margin: 25px 0px 25px 0px;
  width: 100%;
}

.cart .cart-table table th {
  background-color: var(--color);
  color: white;
  font-size: 14pt;
  font-weight: normal;
  font-family: var(--font);
  height: 45px;
}

.cart .cart-table table #cart td input {
  border: 0px solid transparent;
  font: var(--font);
  text-align: center;
  font-size: 14pt;
}

.cart .cart-table table #cart td input:disabled {
  color: black;
  background-color: transparent;
}

.cart .cart-table table #cart td img {
  width: 70px;
  height: 70px;
}

.cart .cart-table #truncate-cart {
  margin-top: 10px;
}

.cart .cart-table .total_price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  float: right;
}

.cart .cart-table .total_price input {
  border: none;
  font-family: var(--font);
  font-size: 14pt;
  font-weight: bold;
}

.cart .cart-table .total_price p {
  font-size: 14pt;
  font-family: var(--font);
  font-weight: bold;
}

.cart .customer-info {
  width: 80vw;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 30%;
      grid-template-columns: 60% 30%;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.cart .customer-info .form-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  row-gap: 2px;
}

.cart .customer-info .form-div #telefon, .cart .customer-info .form-div #napomena, .cart .customer-info .form-div #email {
  grid-column: 1/-1;
}

.cart .customer-info .form-div input, .cart .customer-info .form-div textarea {
  display: block;
  width: auto;
  height: 2em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 10px;
}

.cart .customer-info .form-div button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
  grid-column: 1/-1;
}

.cart .customer-info .form-div .nacin-placanja, .cart .customer-info .form-div .kurirska-sluzba {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
}

.cart .customer-info .form-div .nacin-placanja span, .cart .customer-info .form-div .kurirska-sluzba span {
  margin: auto;
}

.cart .customer-info .form-div .nacin-placanja input, .cart .customer-info .form-div .kurirska-sluzba input {
  margin: auto;
}

.cart .customer-info .info-for-customer button {
  height: 60px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.cart .customer-info .info-for-customer button a {
  color: #f5efd3;
}

button {
  height: auto;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}

button a {
  font-size: 14pt;
  font-family: var(--font);
  color: white;
}

.invoice {
  margin: auto;
  width: 60vw;
  height: 80vw;
  background-color: #f2ecdc;
}

.invoice .logo {
  text-align: center;
  height: 10%;
  border-bottom: 2px solid #343634;
}

.invoice .logo img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.invoice .logo .title {
  padding-top: 35px;
  font-family: var(--font-bold);
  font-size: 22pt;
  display: inline-block;
}

.invoice .logo .invoice-no {
  float: right;
  margin: 0;
  font-family: var(--font);
  font-size: 14pt;
  color: white;
  background-color: var(--color);
  padding: 10px;
}

.invoice .supplier-client-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.invoice .supplier-client-data .supplier, .invoice .supplier-client-data .client {
  width: 80%;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 12pt;
  font-family: var(--font);
  color: black;
  letter-spacing: 0.5px;
}

.invoice .supplier-client-data .supplier span, .invoice .supplier-client-data .client span {
  font-weight: bold;
}

.invoice .supplier-client-data .supplier .title, .invoice .supplier-client-data .client .title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
  font-size: 16pt;
  padding-top: 10px;
  color: #302e26;
  border-bottom: 1px solid black;
}

.invoice .order-details {
  margin: 25px 0px 10px 0px;
  float: right;
  padding-right: 10%;
}

.invoice .order-details span {
  font-weight: bold;
}

.invoice .ordered-items {
  display: block;
}

.invoice .ordered-items table {
  width: 80%;
  text-align: center;
}

.invoice .ordered-items table th {
  height: 25px;
  background-color: var(--color);
  color: white;
  letter-spacing: 1px;
}

.login-page {
  width: 40%;
  height: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login-page .form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .form-login input {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 10px;
}

.login-page .form-login button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.registration-page {
  width: 40%;
  height: 70%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.registration-page .form-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-page .form-reg .two-columns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
}

.registration-page .form-reg input {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 15px;
}

.registration-page .form-reg button {
  display: block;
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

#msg-error {
  position: absolute;
  padding: 10px;
  display: block;
  top: 10%;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-error);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 7fr;
      grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}

#msg-error .msg-error-image {
  float: left;
}

#msg-error .msg-error-text {
  margin: auto;
}

#msg-successful {
  position: absolute;
  display: block;
  top: 10%;
  padding: 10px;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-successful);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 7fr;
      grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}

#msg-successful .msg-successful-image {
  float: left;
}

#msg-successful .msg-successful-text {
  margin: auto;
}

#msg-warning {
  position: absolute;
  top: 10%;
  display: block;
  padding: 10px;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-warning);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 7fr;
      grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}

#msg-warning .msg-warning-image {
  float: left;
}

#msg-warning .msg-warning-text {
  margin: auto;
}

#msg-info {
  position: absolute;
  padding: 10px;
  top: 10%;
  display: block;
  color: white;
  font-family: var(--font);
  width: 25%;
  height: auto;
  background-color: var(--color-info);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 7fr;
      grid-template-columns: 1.2fr 7fr;
  -webkit-animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
          animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
}

#msg-info .msg-info-image {
  float: left;
}

#msg-info .msg-info-text {
  margin: auto;
}

@-webkit-keyframes movein {
  from {
    right: -200px;
  }
  to {
    right: 10px;
  }
}

@keyframes movein {
  from {
    right: -200px;
  }
  to {
    right: 10px;
  }
}

@-webkit-keyframes moveout {
  from {
    right: 10px;
  }
  to {
    opacity: 0;
  }
}

@keyframes moveout {
  from {
    right: 10px;
  }
  to {
    opacity: 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .customer-profile {
  height: 65%;
  width: 80%;
  background-color: #fcc326;
  margin: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.container .customer-profile .left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  display: block;
}

.container .customer-profile .left img {
  height: 200px;
  width: 200px;
}

.container .customer-profile .left p {
  font-family: var(--font);
  font-size: 18pt;
  margin-left: 25px;
  color: #f5efd3;
}

.container .customer-profile .right .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container .customer-profile .right .info-box .description {
  margin: 10px;
  font-weight: 300;
  font-size: 16pt;
  color: #343634;
}

.container .customer-profile .right .info-box .information {
  margin: 10px;
  font-size: 16pt;
  color: #343634;
}

.short-description {
  padding: 30px 0px 10px 0px;
  margin: auto;
  width: 90vw;
}

.short-description .title {
  margin-top: 25px;
  font-family: var(--font-bold);
  font-size: 16pt;
  text-align: left;
}

.short-description .description {
  font-family: var(--font);
  font-size: 14pt;
  text-align: justify;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.short-description .description a {
  color: wheat;
}

.short-description table {
  text-align: center;
  width: 80vw;
}

.short-description table th {
  width: 30%;
  text-align: left;
  background-color: #343634;
  color: #f0f2f5;
  height: 40px;
  padding-left: 15px;
  font-weight: lighter;
  font-size: 14pt;
}

.short-description table td {
  width: 70%;
  background-color: #fafafa;
  height: 40px;
  padding-left: 15px;
  font-size: 14pt;
}

.related-product {
  margin-left: 5%;
  height: 50%;
  width: 90vw;
  margin-bottom: 20px;
}

.related-product .related-product-text {
  font-size: 16pt;
  font-family: var(--font-bold);
  margin-top: 10px;
  margin-bottom: 10px;
}

.related-product .product-cart {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
}

.related-product .product-cart .title-of-product {
  text-align: center;
  color: var(--color);
  font-size: 16pt;
  height: auto;
}

.related-product .product-cart .image-of-product {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.related-product .product-cart .image-of-product .desc {
  color: white;
  background-color: #302e26;
  font-size: 16pt;
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 80px 0;
}

.related-product .product-cart .image-of-product:hover {
  opacity: 0.6;
}

.related-product .product-cart .image-of-product:hover .desc {
  visibility: visible;
}

.related-product .product-cart .image-of-product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.related-product .product-cart .price {
  height: auto;
  text-align: center;
}

.related-product .product-cart .price #average-price {
  font-size: 16pt;
}

.product {
  margin: 0px;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-column-gap: 10px;
}

.product .product-img-tit .product-img {
  display: block;
  margin-left: 10%;
}

.product .product-img-tit .product-img img {
  width: 100%;
}

.product .product-img-tit .path {
  padding: 15px;
  text-align: center;
  font-size: 12pt;
  font-style: italic;
}

.product .choose-properties .product-title {
  margin-top: 25px;
  position: relative;
  left: 10%;
  font-size: 18pt;
  font-family: var(--font-bold);
}

.product .choose-properties .product-title input {
  border: 1px solid transparent;
  font-size: 16pt;
  font: var(--font);
  text-align: center;
}

.product .choose-properties .size-and-imprint {
  margin-top: 5%;
  text-align: center;
}

.product .choose-properties .size-and-imprint select {
  margin: 15px;
  background-color: #fcc326;
  color: white;
  outline: none;
  font-size: 16pt;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 10%;
  font-family: var(--font);
}

.product .choose-properties .quantity {
  text-align: center;
  display: block;
  margin-top: 5%;
}

.product .choose-properties .quantity input {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid var(--color);
  text-align: center;
  font-size: 15pt;
  font-family: var(--font);
}

.product .choose-properties .price {
  display: block;
  margin-top: 5%;
  font-size: 16pt;
  text-align: center;
}

.product .choose-properties .buy {
  margin-top: 5%;
  text-align: center;
}

.product .choose-properties .buy button {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
}

.product .choose-properties .tags {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .choose-properties .tags .title {
  font-family: var(--font);
  font-size: 14pt;
  text-transform: uppercase;
}

.product .choose-properties .tags .hashtags {
  padding-left: 5px;
  font-family: var(--font);
  font-size: 14pt;
  color: #302e26;
}

.description {
  font-size: 14pt;
}

.description .attribute {
  font-weight: bold;
}

.description .attribute_value {
  color: var(--color);
}

.description p {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.contact-page {
  width: 80%;
  margin: auto;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact-page .title {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 36pt;
  border-bottom: 1px solid black;
  font-family: var(--font-bold);
}

.contact-page .contact-form {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .contact-form input, .contact-page .contact-form textarea {
  display: block;
  width: 400px;
  height: 3em;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  padding-left: 10px;
}

.contact-page .contact-form textarea {
  padding-top: 10px;
  height: 8em;
}

.contact-page .contact-form button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.contact-page .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .contact-info .c-info {
  padding-left: 15px;
  font-size: 14pt;
  font-family: var(--font-bold);
  margin: 15px 0px 15px 0px;
}

.placanje-i-isporuka-page, .reklamacije-page, .about-us {
  width: 80%;
  margin: auto;
}

.placanje-i-isporuka-page .title, .reklamacije-page .title, .about-us .title {
  margin-top: 25px;
  font-family: var(--font-bold);
  font-size: 16pt;
  text-align: left;
}

.placanje-i-isporuka-page .description, .reklamacije-page .description, .about-us .description {
  font-family: var(--font);
  font-size: 14pt;
  text-align: justify;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.placanje-i-isporuka-page .description a, .reklamacije-page .description a, .about-us .description a {
  color: wheat;
}

.admin-menu {
  margin-top: 15px;
}

.admin-page {
  width: 90%;
  margin: auto;
  padding: 0;
}

.admin-page table {
  margin-top: 15px;
  width: 90%;
}

.admin-page table th {
  background-color: #343634;
  color: white;
  height: 40px;
}

.admin-page table tr {
  border-bottom: 1px solid black;
}

.admin-page table tr td {
  padding: 5px;
  font-size: 14pt;
  font-family: var(--font);
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.admin-page table tr td a {
  text-decoration: none;
  color: black;
}

.admin-page table tr td #ImgCookieCutters {
  width: 80px;
  height: 80px;
}

.admin-page table tr td img {
  height: 16pt;
  width: 16pt;
}

.details-of-order, .separated-order {
  width: 90%;
  margin: auto;
}

.details-of-order .title, .separated-order .title {
  font-family: var(--font-bold);
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18pt;
}

.details-of-order table, .separated-order table {
  width: 100%;
  text-align: center;
}

.details-of-order table th, .separated-order table th {
  font-size: 14pt;
  margin-bottom: 10px;
}

.details-of-order table td, .separated-order table td {
  margin: 5px;
  letter-spacing: 1px;
}

.details-of-order table td img, .separated-order table td img {
  width: 70px;
  height: 70px;
}

.add-product {
  width: auto;
}

.add-product h2 {
  text-align: center;
}

.add-product .form-div {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-product .form-div input {
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
}

.add-product .form-div .inp-group, .add-product .form-div .inp-group-group {
  margin: 10px;
}

.add-product .form-div .inp-group label, .add-product .form-div .inp-group-group label {
  font-size: 12pt;
  font-family: var(--font);
}

.add-product .form-div .inp-group select, .add-product .form-div .inp-group-group select {
  margin-top: 10px;
  border: 0.5px solid var(--color-white);
  font-family: var(--font);
  font-size: 12pt;
  outline: none;
  background-color: var(--color);
  padding: 5px;
  color: var(--color-white);
  border-radius: 15px;
}

.add-product .form-div .inp-group .sub-inp-group, .add-product .form-div .inp-group-group .sub-inp-group {
  display: inline;
}

.add-product .form-div .inp-group-group {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.add-product .form-div .inp-group-group input {
  width: 80px;
}

.add-product button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}

.update-product {
  width: 90vw;
  margin: auto;
}

.update-product .form-div {
  margin-top: 15px;
}

.update-product .form-div input {
  margin: 10px;
  outline: none;
  border-radius: 15px;
  border: 0.5px solid var(--color);
  font-family: var(--font);
  font-size: 12pt;
  width: 20vw;
  height: 30px;
  padding-left: 15px;
}

.update-product .form-div .inp-group, .update-product .add-product .form-div .inp-group-group, .add-product .update-product .form-div .inp-group-group {
  margin: 10px;
}

.update-product .form-div .inp-group label, .update-product .add-product .form-div .inp-group-group label, .add-product .update-product .form-div .inp-group-group label {
  font-size: 12pt;
  font-family: var(--font);
}

.update-product .form-div .inp-group select, .update-product .add-product .form-div .inp-group-group select, .add-product .update-product .form-div .inp-group-group select {
  border: 0.5px solid var(--color-white);
  font-family: var(--font);
  font-size: 12pt;
  outline: none;
  background-color: var(--color);
  padding: 5px;
  color: var(--color-white);
  border-radius: 15px;
  width: 20vw;
  height: 30px;
  padding-left: 15px;
}

.update-product .form-div .inp-group .sub-inp-group, .update-product .add-product .form-div .inp-group-group .sub-inp-group, .add-product .update-product .form-div .inp-group-group .sub-inp-group {
  display: inline;
}

.update-product button {
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 14pt;
  font-family: var(--font);
  border-radius: 15px;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */